.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
  background-image: url('/static/img/index/background/background.png');
  background-size: cover;
}

.featureSvg {
  height: 200px;
  width: 400px;
}

.block {
  min-height: 400px;
  background-color: #ffffff;
  border: 7px solid #B6E2F3;
  box-shadow: 0px 4px 55px 3px rgba(0, 0, 0, 0.15);
  margin: 20px 6px;
  padding: 10px;
}

.banner{
  background-color: #B8E5F8;
  text-align: center;
  padding: 90px;
}

.banner .title{
  color: #213368;
  letter-spacing: 3px;
}

.banner .title .title1{
  font-size: 36px;
  display: inline-block;
  margin-bottom: 20px;
}

.banner .title .title2{
  font-size: 28px;
  display: inline-block;
  text-indent: 20px;
}

.banner .b_desc{
  padding-bottom: 0;
  margin-bottom: 0;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 20px;
}

.filter{
  background-color: #015F93;
}

.filter ul{
  max-width: 1000px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  list-style-type: none;
  text-align: center;
  color: #ffffff;
  padding-left: 0;
  /* padding-bottom: 5px; */
}

.filter ul li{
  flex: 1 1 0%;
  border-bottom: 8px solid #ffffff;
  padding-top: 20px;
  padding-bottom: 6px;
  text-align: center;
  font-size: 20px;
}

.filter ul .select{
  border-bottom: 8px solid #FAAD92;
}

.filter ul li a{
  color: #ffffff;
}
